
<body>
  <h2 id = "welcome-title">Welcome!</h2>
  <h3 id = "welcome-text">Please select your preferred flavor...</h3>

  <div class = "img-wrapper">
    <img class = "img-responsive"
          src = "../../assets/Images/ice-cream-cart.png"
          alt = "ice cream cart">
    <div class = "img-overlay">
      <a href = "../resume">
      <button type = "button" class = "btn btn-responsive flavor">Resume</button>
      </a>
      <a href = "../code-projects">
      <button type = "button" class = "btn btn-responsive flavor">Code Projects</button>
      </a>
      <a href = "../creative-collection">
      <button type = "button" class = "btn btn-responsive flavor">Creative Collection</button>
      </a>
      <a href = "../backstory">
      <button type = "button" class = "btn btn-responsive flavor">Backstory</button>
      </a>
    </div>
  </div>
  </body>
